.set-feature-section {
  display: flex;
  background-color: white;
  padding: 19px 30px 30px 30px;
  border-radius: 25px;
  gap: 29px;
}

.set-feature-section > select {
  margin: 0;
}
.set-feature-section > .btn-add {
  text-wrap: nowrap;
}
