.account-bar {
  height: 100px;
  font-family: var(--default-font);
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  color: #343c6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #e6eff5;
  background-color: white;
}
.account-bar .account-bar-page {
}

.account-bar .account-bar-profile {
}

.account-bar .account-bar-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic tr td {
  @apply px-4 py-1;
}

table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
