.account-bar {
  height: 100px;
  font-family: var(--default-font);
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  color: #343c6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #e6eff5;
  background-color: white;
}
.account-bar .account-bar-page {
}

.account-bar .account-bar-profile {
}

.account-bar .account-bar-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-active {
  position: relative;
}

.menu-active::before {
  content: " ";
  background-color: #2d60ff;
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bg-cstable {
  background-color: white;
  border-radius: 25px;
  padding: 11px 30px;
}
.cstable {
  width: 100%;
}
.cstable .cstable-head {
  font-size: 16px;
  color: #718ebf;
  line-height: 19px;
  font-family: var(--default-font);
  border-bottom: 1px solid #e6eff5;
}
.cstable .cstable-head tr td {
  padding: 11px 0 15px;
  padding-right: 10px;
}
.cstable .cstable-head tr td:last-child {
  padding-right: 0;
}
.cstable .cstable-body tr {
  border-bottom: 1px solid #e6eff5;
}

.cstable .cstable-body tr:last-child {
  border-bottom: none;
}

.cstable .cstable-body tr td {
  padding: 15px 0;
  color: #232323;
  font-size: 16px;
  font-family: var(--default-font);
  padding-right: 10px;
}
.cstable .cstable-body tr td:last-child {
  padding-right: 0;
}

.cstable .cstable-body tr td .action {
  display: flex;
  gap: 2px;
}
.cstable .cstable-body tr td .action button {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 8px 15px;
  border-radius: 50px;
}
.cstable .cstable-body tr td .action a {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 8px 15px;
  border-radius: 50px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #2d60ff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.btn-add {
  background-color: #1814f3;
  width: fit-content;
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: var(--default-font);
  color: white;
  border-radius: 9px;
}

.csbtn-save {
  background-color: #1814f3;
  width: fit-content;
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: var(--default-font);
  color: white;
  border-radius: 15px;
  max-width: 190px;
  width: 100%;
}

.csinput {
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #dfeaf2;
  margin-bottom: 0;
  margin-top: 11px;
}
.csinput:focus {
  border: 1px solid #dfeaf2;
}

.csselect {
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #dfeaf2;
  margin-bottom: 0;
  margin-top: 11px;
}
.cslabel {
  font-family: var(--default-font);
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.cstextarea {
  min-height: 96px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #dfeaf2;
  margin-bottom: 0;
  margin-top: 11px;
}

.cstext-validate {
  color: #fe5c73;
  font-size: 16px;
}
